* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "mulish" !important;
}

h2 {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 54.1799px !important;
  line-height: 68px !important;
  align-items: center !important;
}

h3 {
  font-weight: 700 !important ;
  font-size: 40px !important;
  line-height: 50px !important;
}

body {
  background-color: #f8f8f8 !important;
}

ul {
  list-style-type: none;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.header {
  font-weight: 500;
  font-size: 15px;
  z-index: 20;
}

.navbar-brand img {
  width: 40px;
  height: 40.89px;
}

.navbar-expand-lg .navbar-collapse {
  padding-right: 56px;
}

.navbar-brand {
  padding-left: 56px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: flex-end;
}

/*  GRID CONTAINER INDEX */

.gridContainerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 803px 660px 660px 660px 100px;
  grid-template-areas:
    "header"
    "section1"
    "section2"
    "section3"
    "section4"
    "footer";
}

.header {
  grid-area: header;
  background-color: #f8f8f8;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}

.logo {
  position: fixed;
  top: 0px;
  width: 49px;
  height: 49.48px;
  left: 56px;
  margin-top: 15px;
  z-index: 3;
}


.section1 {
  grid-area: section1;
  background-color: bisque;
  align-content: center;
  overflow-y: hidden;
}

.section1 img {
  width: 100%;
  height: 820px;
  object-fit: cover;
  vertical-align: middle;
}

.fondoPrincipal {
  z-index: -1;
}

.tituloAmarillo {
  font-weight: 700;
  color: #ffd803;
}

.tituloNegro {
  position: absolute;
  top: 346px;
  left: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 68px;
  align-items: center;
  color: black;
  z-index: 2;
}

.botonDonar {
  position: fixed;
  width: 172px;
  height: 47px;
  right: 56px;
  top: 0%;
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  padding: 12px 21.39px;
  background: #ffd803;
  border: 2px solid #ffd803;
  border-radius: 30px;
  z-index: 3;
}

.botonDonar:hover {
  border: 2px solid #000000;
  transition: 0.3s;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "section2Text section2Img";
  grid-area: section2;
  align-content: center;
  overflow-y: hidden;
  align-items: center;
}

.section2Img img {
  width: 100%;
  height: 820px;
  object-fit: cover;
  vertical-align: middle;
}

.section2Text {
  grid-area: section2Text;
  display: flex;
  flex-flow: column;
  flex-flow: column;
  height: 660px;
  align-items: flex-start;
  justify-content: center;
}

.section2Img {
  grid-area: section2Img;
  background-color: #f8f8f8;
}

.segundoHeader {
  position: relative;
  margin-left: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  color: #000000;
}

.botonesAdopcion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  left: 56px;
}

.botonGatito {
  display: flex;
  width: 152px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 3.38624px solid #ffd803;
  border-radius: 31.164px;
}

.botonGatito:hover {
  background-color: #ffd803;
  transition: 0.3s;
}

.iconoGatito {
  width: 53px;
  height: 53px;
  padding: 10px 5px 10px 0px;
}

.textoGatito {
  width: 62.05px;
  height: 25px;
  font-weight: 700;
  font-size: 20.3175px;
  text-align: center;
}

.botonPerrito {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 3.38624px solid #ffd803;
  border-radius: 31.164px;
}

.botonPerrito:hover {
  background-color: #ffd803;
  transition: 0.3s;
}

.iconoPerrito {
  width: 53px;
  height: 53px;
  padding: 10px 5px 10px 0px;
}

.textoPerrito {
  width: 62.05px;
  height: 25px;
  font-weight: 700;
  font-size: 20.3175px;
  text-align: center;
  margin: 0px 7px 0px 0px;
}

.verTodos {
  height: 59.65px;
  font-weight: 700;
  font-size: 20.3175px;
  text-align: center;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 3.38624px solid #ffd803;
  border-radius: 31.164px;
}

.verTodos:hover {
  background-color: #ffd803;
  transition: 0.3s;
}

.section3 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "section3Img section3Text";
  grid-area: section3;
  align-content: center;
  overflow-y: hidden;
}

.section3Img img {
  width: 100%;
  height: 820px;
  object-fit: cover;
  vertical-align: middle;
}

.section3Img {
  grid-area: section3Img;
  background-color: #f8f8f8;
}

.tercerFondo {
  position: absolute;
  width: 640px;
  height: 766.98px;
  top: 1597.46px;
  margin-left: 0%;
}

.botonDonarPatita:hover {
  background-color: #ffd803;
  transition: 0.3s;
}

.section3Text {
  grid-area: section3Text;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
}

.botonDonarPatita {
  width: 212px;
  height: 58px;
  padding: 12.46px 24.39px;
  font-weight: 700;
  font-size: 16.93px;
  text-align: center;
  border: 3.386px solid #ffd803;
  border-radius: 47.164px;
  margin-right: 56px;
  background: #ffffff;
}

.tercerHeader {
  font-weight: 600;
  font-size: 54.18px;
  line-height: 68px;
  text-align: right;
  margin-right: 56px;
}

.section4 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "section4Text section4Img";
  grid-area: section4;
  align-content: center;
  overflow-y: hidden;
  align-items: center;
}

.section4Img img {
  width: 100%;
  height: 820px;
  object-fit: cover;
  vertical-align: middle;
}

.section4Text {
  grid-area: section4Text;
    display: flex;
    flex-flow: column;
    flex-flow: column;
    height: 660px;
    align-items: flex-start;
    justify-content: center;
    left: 56px;
}

.section4Img {
  grid-area: section4Img;
  background-color: #f8f8f8;
}

.cuartoFondo {
  position: absolute;
  left: 640px;
  top: 2362px;
}

.cuartoHeader {
  position: relative;
  margin-left: 56px;
}

.footer {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* SOBRE NOSOTROS */


.tituloSobreNosotros {
  position: absolute;
  top: 140px;
  left: 56px;
}

.blob {
  position: relative;
  left: 516px;
  top: 180px;
  z-index: -2;
  object-fit: cover;
  vertical-align: middle;
}

.blobDos {
  position: absolute;
  left: 0px;
  top: 1836px;
  z-index: -2;
}

.card {
  margin-bottom: 30px;
}

.positionContenedorRight {
display: flex;
justify-content: flex-end;
margin-right: 3rem;
margin-left: 3rem;
}

.contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 660px;
  top: 300px;
  padding: 40px;
  background: #ffffff;
  border-radius: 25px;
  justify-content: space-between;
  align-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.positionContenedorLeft {
  display: flex;
  justify-content: flex-start;
  margin-right: 3rem;
  margin-left: 3rem;
  } 

.contenedorDos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 613px;
  top: 476px;
  padding: 40px;
  background: #ffffff;
  border-radius: 25px;
  justify-content: space-between;
  align-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.contenedorTres {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 660px;
  top: 644px;
  padding: 40px;
  background: #ffffff;
  border-radius: 25px;
  justify-content: space-between;
  align-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.contenedorCuatro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 613px;
  top: 829px;
  padding: 40px;
  background: #ffffff;
  border-radius: 25px;
  justify-content: space-between;
  align-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.contenedorCinco {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 660px;
  top: 1027px;
  padding: 40px;
  background: #ffffff;
  border-radius: 25px;
  justify-content: space-between;
  align-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.contenedorSeis {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 613px; 
  top: 1171px;
  padding: 40px;
  background: #ffffff;
  border-radius: 25px;
  justify-content: space-between;
  align-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.footerSobreNosotros {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem;
  top: 1240px;
  flex-direction: column;
}

/* EN ADOPCION */

.cardsAdopcion {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 365px;
}


.tituloAdopcion {
  display: flex;
  position: relative;
  justify-content: center;
  top: 125px;
}

.positionAdopcion {
  width: 326px;
  height: 68px;
  top: 134px;
  z-index: 2;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 564px;
  left: 0px;
  top: 139px;
  overflow-x: scroll;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.eclipseUno {
  position: absolute;
  height: 164px;
  left: 0px;
  top: 128px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.eclipseDos {
  position: absolute;
  height: 164px;
  left: 0px;
  top: 695px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.positionAdoptar {
    display: flex;
    position: relative;
    justify-content: center;
    top: 105px;
}

.botonAdoptar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 47px;
  padding: 8.46561px 25.3968px;
  border: 3.38624px solid #ffd803;
  background: #f8f8f8;
  border-radius: 25px;
}

.botonAdoptar:hover {
  background: #ffd803;
  transition: 0.3s;
}

.cardAdopcion {
  display: flex;
  flex-flow: column;
  width: fit-content;
  position: relative;
}

.cardText {
    display: flex;
    width: 260px;
    height: 117px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 25px;
    background:#ffd803;
    border-radius: 30px;
    margin: 20px;
    align-items: stretch;
    font-size: 18px;
}

.cardImg {
  padding: 20px;
  border-radius: 72px;
}

.footerAdopcion {
    background-color: #ffd803;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    top: 24rem;
}


/* GRID CONTAINER FORMA PARTE */

.gridContainerAyudar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 550px 100px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "ayudar"
    "footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.ayudar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "text formulario";
  grid-area: ayudar;
  justify-items: center;
  align-items: center;
}

.textFormaParte {
  grid-area: textFormaParte;
  display: flex;
  grid-area: text;
  flex-flow: column;
  height: 423px;
  flex-direction: column;
  align-items: center;
  width: 594px;
  padding: 40px;
  text-align: center;
  justify-content: space-around;
}

.positionForm{
display: flex;
padding: 20px;
}

.formulario {
  grid-area: formulario;
}

.formulario {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 480px;
  flex-direction: column;
}


.formularioStyle {
  display: flex;
  flex-flow: column;
}

/* GRID CONTAINER CONTACTO */

.gridContainerContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 550px 100px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "contacto"
    "footer";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "text form";
  grid-area: contacto;
}

.textContacto {
  text-align: center;
  grid-area: text;
  display: flex;
  height: 550px;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.form {
  grid-area: form;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 40px;
}

.footer {
  grid-area: footer;
}

/* GRIDS DONACIONES */

.gridContainerDonaciones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 550px 100px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "donation"
    "footer";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.donation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text information";
  grid-area: donation;
  align-items: center;
  justify-items: center;
}

.textDonaciones {
  text-align: center;
  grid-area: text;
  display: flex;
  height: 550px;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.information {
  grid-area: information;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 23px;
  margin: 30px;
  width: 476px;
  background: white;
  height: 468px;
  align-items: center;
  border: 3px dashed #ffd803;
  border-radius: 30px;
}

.footer {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.botonDonacion {
  font-size: 20px;
  line-height: 25px;
  padding: 12px 22px;
  gap: 10px;
  background: #ffffff;
  border: 3px solid #ffd803;
  border-radius: 30px;
}

.botonDonacion:hover {
  background-color: #ffd803;
  transition: 0.3s;
}

.botonContacto {
  width: 163px;
  height: 55px;
  padding: 12px 20px;
  gap: 10px;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border: 3px solid #ffd803;
  border-radius: 30px;
  margin: 20px;
}

.botonContacto:hover {
  background-color: #ffd803;
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .gridContainerDonaciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1072px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "donation"
      "footer";
  }

  .donation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text" "information";
    grid-area: donation;
    align-items: center;
    justify-items: center;
  }

  .textDonaciones {
    text-align: center;
    grid-area: text;
    display: flex;
    height: 558px;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 65px;
  }

  .information {
    grid-area: information;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px;
    margin: 0px 30px 30px 30px;
    width: 472px;
    background: white;
    height: 478px;
    align-items: center;
    border: 3px dashed #ffd803;
    border-radius: 30px;
  }

  .footer {
    grid-area: footer;
    background-color: #ffd803;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
  }

  .gridContainerAyudar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 830px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "ayudar"
      "footer";
  }

  .ayudar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "text" "formulario";
    grid-area: ayudar;
    justify-items: center;
    align-items: center;
  }

  .gridContainerContacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 913px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "contacto"
      "footer";
  }

  .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "text" "form";
    grid-area: contacto;
    justify-items: center;
    align-items: center;
  }

  .textContacto {
    text-align: center;
    grid-area: text;
    display: flex;
    height: 358px;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.navbar-brand {
  padding-left: 2rem;
}

}

@media (max-width: 768px) {

  .donation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text" "information";
    grid-area: donation;
    align-items: center;
    justify-items: center;
  }

  .gridContainerIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 820px 820px 820px 820px 100px;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "section3"
      "section4"
      "footer";
  }

  .section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "section2";
    align-content: center;
    overflow-y: hidden;
  }

  .section2Img img {
    width: 100%;
    height: 920px;
    object-fit: cover;
    vertical-align: middle;
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "section3";
    align-content: center;
    overflow-y: hidden;
  }

  .section3Img img {
    width: 100%;
    height: 920px;
    object-fit: cover;
    vertical-align: middle;
  }

  .section4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "section4";
    align-content: center;
    overflow-y: hidden;
  }

  .section4Img img {
    width: 100%;
    height: 920px;
    object-fit: cover;
    vertical-align: middle;
  }

  .footer {
    grid-area: footer;
    background-color: #ffd803;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
  }

  .tituloNegro {
    color: #ffffff;
    left: 2rem;
    right: 2rem;
  }

  .segundoHeader {
    color: #ffffff;
    left: -2rem;
    right: 2rem;
  }

  .tercerHeader {
    color: #ffffff;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .cuartoHeader{
    color: #ffffff;
    left: -2rem;
    right: 2rem;
  }

  .botonesAdopcion {
    left: 2rem;
    right: 2rem;
}

.botonDonarPatita {
  margin-left: 2rem;
  margin-right: 2rem;
}


  .section2Text {
    grid-area: section2Text;
    display: flex;
    flex-flow: column;
    height: 660px;
    align-items: flex-start;
    justify-content: flex-end;
}

.section3Text {
  grid-area: section3Text;
  display: flex;
  position: relative;
  flex-flow: column;
  top: 221px;
  align-items: flex-end;
  justify-content: center;
}

.section4Text {
  grid-area: section4Text;
  display: flex;
  flex-flow: column;
  flex-flow: column;
  height: 660px;
  align-items: flex-start;
  justify-content: flex-end;
  left: 56px;
}
}



@media (max-width: 700px) {
  .gridContainerDonaciones {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1215px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "donation"
      "footer";
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
  }

  .botonDonar {
    position: fixed;
    width: 196px;
    height: 54px;
    right: 23px;
    top: 101px;
    margin-top: 41px;
    font-style: normal;
    font-weight: 600;
    padding: 12px 21.39px;
    background: #ffd803;
    border: 2px solid #ffd803;
    border-radius: 30px;
    font-size: 20px;
    z-index: 3;
  }


  .logo {
    position: fixed;
    top: 7px;
    width: 80px;
    height: 80.47999999999999px;
    left: 234px;
    margin-top: 16px;
    z-index: 3;
  }

  .parrafoDonaciones {
    font-size: 20px;
  }

  .parrafoRecibimos {
    font-size: 20px;
  }

  .textDonaciones {
    text-align: center;
    grid-area: text;
    display: flex;
    height: 705px;
    width: 529px;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 62px;
  }

  .information {
    grid-area: information;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px;
    margin: 0px 30px 30px 30px;
    width: 472px;
    background: white;
    height: 478px;
    align-items: center;
    border: 3px dashed #ffd803;
    border-radius: 30px;
  }


}
